@model IEnumerable<RossetaStone.Models.Dictionary>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


<div class="wrapper">

    <div class="d-flex flex-row form-box01">
        <input class="form-control form-item01" type="text" placeholder="Введите слово">

        <select class="form-control form-item02">
            <option>Англ</option>
            <option>Рус</option>
        </select>

        <select class="form-control form-item02">
            <option>Рус</option>
            <option>Англ</option>
        </select>

        <button type="submit" class="form-item03">Поиск</button>
       
    </div>

    <div class="form-box01 bg-white">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.WordEng)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WordRus)
                    </th>
                    <th>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <div>
                                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Dictionaries", null, Context.Request.Scheme)', 'New Word')" class="btn btn-success text-white">Add</a>
                            </div>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.WordEng)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WordRus)
                        </td>
                        <td>
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <a onclick="showInPopup('@Url.Action("AddOrEdit", "Dictionaries", new { id = item.Id }, Context.Request.Scheme)', 'Edit Word')" class="btn btn-info text-white"> Edit</a>
                                <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this)" class="d-inline">
                                    <input type="hidden" asp-for="@item.Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" />
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
